.Footer {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #284f5e;
    padding: 3rem 0rem;

    &__text {
        font-size: clamp(1.25rem, 1.5vw, 3rem);
    }
    
    &__link:visited {
        color: #0070f0;
    }
}