.Index {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .hide {
    display: none;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__text,
  &__title {
    outline: none;
    border-radius: 3%;
  }

  &__title {
    width: clamp(10rem, 9vw, 16rem);
    height: clamp(1rem, 1vw, 2rem);
    font-size: clamp(0.75rem, 1vw, 2rem);
  }

  &__text {
    font-size: clamp(0.75rem, 1vw, 2rem);
  }

  button {
      cursor: pointer;
      font-size: clamp(.80rem, 1vw, 1.25rem);
      width: clamp(3rem, 4vw, 9rem);
      
  }

  &__submit {
    width: 15%;
  }

  &__cancel {
    color: #ff1212;
    border-color: #fb2121;
    background-color: #ff9999;
  }

  &__notesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
  }

  &__note {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: border 300ms ease-in-out;
  }

  &__note:hover {
    border: 1px solid #fafafa;
    border-radius: 6px;
    transition: border 300ms ease-in-out;
  }

  &__noteInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__noteTitle {
    font-size: clamp(1.25rem, 1.5vw, 3rem);
  }

  &__noteBody {
    font-size: clamp(1rem, 1.5vw, 2rem);
  }

  &__noteControl {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;

    & > * {
    font-size: clamp(1rem, 1.5vw, 2rem);
    }
  }

  &__noteEdit {
    color: #fafafa;
    cursor: pointer;
  }

  &__noteDelete {
    cursor: pointer;
    color: red;
  }

}
