.Navbar {
  display: flex;
  justify-content: center;
  gap: 10vw;

  // &__text {
  //     font-size: 1px;
  // }

  &__link {
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
    transition: color 150ms ease-in-out;
  }

  &__link:hover {
    color: #0070f0;
  }
}

.Index {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .hide {
    display: none;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }

  &__text,
  &__title {
    outline: none;
    border-radius: 6px;
  }

  button {
      cursor: pointer;
  }

  &__submit {
    width: 15%;
  }

  &__cancel {
    color: #ff1212;
    border-color: #fb2121;
    background-color: #ff9999;
  }

  &__notesContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15rem;
  }

  &__note {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: border 300ms ease-in-out;
  }

  &__note:hover {
    border: 1px solid #fafafa;
    border-radius: 6px;
    transition: border 300ms ease-in-out;
  }

  &__noteInfo {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__noteControl {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  &__noteEdit {
    color: #fafafa;
    cursor: pointer;
  }

  &__noteDelete {
    cursor: pointer;
    color: red;
  }

}
