.Navbar {
    display: flex;
    justify-content: center;
    gap: 10vw;
  
    // &__text {
    //     font-size: 1px;
    // }
  
    &__link {
      text-decoration: none;
      color: #fafafa;
      cursor: pointer;
      transition: color 150ms ease-in-out;
    }
  
    &__link:hover {
      color: #0070f0;
    }
  }