.Navbar {
    display: flex;
    justify-content: center;
    gap: 10vw;
  
    &__text {
        font-size: clamp(1.25rem, 1.5vw, 5rem);
    }
  
    &__link {
      text-decoration: none;
      color: #fafafa;
      cursor: pointer;
      transition: color 150ms ease-in-out;
    }
  
    &__link:hover {
      color: #0070f0;
    }
  }